@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    color: #2D3440;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .link {
    line-height: 20px;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

.login-link, .cart-link {
    font-size: 14px;
}

.button {
    background-color: #FCFCFC;
    text-align: center;
    padding: 12px 32px;
}

.button-link {
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
}

.navigation {
    display: flex;
    width: 1170px;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: auto;
}

.main-logo {
    margin: 0 16px 0 0;
}

.navigation-link {
    display: block;
    padding: 8px 16px;
}

.header-phone {
    font-weight: 700;
    margin-right: 18px;
}

.navigation-user {
    width: 253px;
    justify-content: end;
    margin: 0;
    gap: 16px;  
}

.navigation-user .navigation-link {
    width: 32px;
    height: 32px;
    background-color: rgba(252, 252, 252, 0.3);
}

.container {
    display: flex;
    width: 1170px;
    flex-direction: column;
    margin: 0 auto;
}

.main-page {
    padding-top: 21px;
    flex-grow: 1;
    flex-direction: column;
}

.main-goods {
    display: flex;
    margin-bottom: 80px;
}

.main-goods-order {
    width: 540px; 
    display: flex;
    flex-direction: column;
}

.main-goods-title {
    width: 470px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
    margin: 115px 0 24px 0;
}

.main-goods-description {
    width: 414px;
    font-size: 18px;
    line-height: 24px; 
    margin-bottom: 48px;
}

.main-goods-item {
    display: none;
    margin-left: 70px;
    margin-right: 10px;
}

.main-goods-current {
    display: block;
}

.button-order {
    width: 75px;
}

.main-goods-gallery {
    width: 630px;
}

.pagination {
    display: flex;
    width: 52px;
    margin: auto auto 0 0;
    padding: 0;
    list-style-type: none;
}

.gallery-list { 
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.gallery-item {
    width: 100px;
}

.gallery-item-current {
    width: 312px;
    margin: 0 56px 0 21px;
}

.gallery-item:last-child {
    margin-left: auto;
}

.social {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    list-style-type: none;
    width: 104px; 
}

.social-main {
    margin-left: auto;  
}

.social-item {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 8px;
}

.social-item:nth-child(3n) {
    margin-right: 0;
}

.text {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900; 
    text-align: center;   
}

.promo {
    margin-bottom: 80px;
}

.promo-text {
    width: 527px;
    margin: 0 auto 56px auto;
}


.promo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.promo-item {
    box-sizing: border-box;
    width: 570px; 
    padding: 40px 210px 40px 40px;
    background-color: #FF7799;
    background-repeat: no-repeat;
}

.promo-item-raspberry {  
    background-image: url("../img/promo-raspberry.jpg");  
}

.promo-item-marshmallow {
    background-image: url("../img/promo-marshmallow.jpg");
    padding-right: 230px;
}

.promo-item-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700; 
}

.promo-item-text {
    margin-top: 0;
    margin-bottom: 32px;
}

.button-promo {
    width: 112px;
}

.popular {
    margin-bottom: 80px;
}

.popular-text {
    width: 527px;   
    margin: 0 auto 107px auto;
}

.product-list {
    width: 1170px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 81px 30px;
    list-style-type: none;
}

.product-card {
    width: 270px;
    box-sizing: border-box;
    background-color: #FCFCFC;
    padding: 0 40px 24px 40px;
    border-radius: 8px;
}

.product-card-link {
    width: 190px;
    display: block;
    margin: 0 auto;
    padding: 0;
    color: #2D3440;
    text-decoration: none;
}

.product-card-picture {
    display: block;
    margin: -51px auto 0 auto;
    border-radius: 50%;
    object-fit: cover; 
}

.product-card-picture-link {
    margin-bottom: 16px;
}

.product-card-title-link {
    margin-bottom: 8px;
}

.product-card-text {
    margin: 0;
    color: #565C66;
    text-align: center;
}

.product-card-text-link {
    margin-bottom: 16px;
}

.product-card-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-card-title, .product-card-price {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #2D3440;
    text-align: center;
}

.product-card-button {
    padding: 0;
    display: block;
    width: 32px; 
}

.about-shop {
    background-color: #FCFCFC;
    background-image: url("../img/about-shop-background.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 24px;
    background-size: cover;
    margin-bottom: 80px;
}

.about-shop-container {
    height: 100%;
    background-color: #FCFCFC;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 56px 40px;
}

.about-shop-key-text {
    width: 995px;
    margin: 0 auto 56px auto;
}

.about-shop-list {
    width: 100%;
    display: grid;
    grid-template-columns: 506px 506px;
    gap: 40px 31px;
    padding: 0;
    margin: 0 auto;      
}

.about-shop-item {
    display: flex;
    width: 506px;
}

.about-shop-pic {
    margin-right: 16px;
}

.about-shop-description {
    width: 442px;
    margin: 0;
}

.blog-subscribe-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 76px;
}

.blog {
    background-color: #FCFCFC;
    background-image: url("../img/blog-background.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 570px;
    padding: 32px 235px 62px 32px;
    box-sizing: border-box;
    background-size: cover;
}

.blog-category {
    margin: 0 0 12px 0;
    padding: 0;
    color: #565C66;
}

.blog-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700; 
}

.subscribe {
    background-color: #FCFCFC;
    background-image: url("../img/subscribe-background.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 570px;
    padding: 6px;
    box-sizing: border-box;
    background-size: cover;
}

.subscribe-container {
    width: 558px;
    height: 100%;
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 26px 24px 26px 26px;
    box-sizing: border-box;
}

.subscribe-description {
    margin-top: 0;
    margin-bottom: 42px;
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
}

.subscribe-email {
    flex-grow: 1;
    margin: 0 24px 0 0;
    align-self: center;
}

.subscribe-email-field {
    display: block;
    width: 100%;
    padding: 14px 0 16px 16px;
    box-sizing: border-box;
}

.button-red {
    background-color: #FF2F64;
    color: #FCFCFC;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px 32px;
    border: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
}

.delivery {
    display: flex;
    width: 100%;
    background-color: #FCFCFC;
    background-image: url("../img/delivery-background.jpg");
    border-radius: 16px;
    padding: 64px 64px 64px 100px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.delivery-description {
    width: 371px;
    margin: 103px 135px 0 0;
}

.delivery-title {
    margin: 0 0 24px 0;
    padding: 0;
}

.delivery-text-description {
    margin: 0;
}

.description-order {
    width: 380px;
    margin: 0 0 32px 0;
    padding: 0;
}

.delivery-order {
    width: 500px; 
    background-color: #FCFCFC;
    border-radius: 8px;
    padding: 40px 40px 42px 40px;
    box-sizing: border-box; 
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 16px;
}

.delivery-date {
    grid-column: 1 / 2;
}

.delivery-phone {
    grid-column: 2 / 3;
}

.delivery-address {
    grid-column: 1 / -1;
}

.delivery-form-submit {
    grid-column: 1 / -1;
    justify-self: center;
}

.form-group {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.label-delivery {
    margin-bottom: 8px;
}

.contacts {
    background-color: #FCFCFC;
    background-image: url("../img/contacts-background.jpg");
    border-radius: 16px;
    background-repeat: no-repeat;
    padding: 64px 763px 64px 64px;
    box-sizing: border-box;
}

.contacts-wrapper {
    width: 343px;
    background-color: #FCFCFC;
    border-radius: 8px;
    padding: 40px;
    box-sizing: border-box;
}

.contacts-title {
    width: 179px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 0;
    margin: 0 0 12px 0;
}

.contacts-note {
    font-size: 14px;
    line-height: 20px;
    color: #565C66;   
}

.contacts-item {
    width: 263px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #2D3440;
    padding: 0;
    margin: 0 0 24px 0;
}

.phone-number  {
    margin: 0;
    padding: 0;
}

.contacts-note {
    margin: 0 0 32px 0;
    padding: 0;
}

.description {
    color: #565C66;
}

.delivery-title {
    text-align: left;
}

.label-delivery {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;     
}

.text-input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
}



.footer-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding: 48px 14px 48px 4px;
    justify-content: space-between;
}

.social-footer {
    margin-right: 300px;
}

.navigation-footer {
    display: flex;
    margin: 0 auto;
}

.footer-img-heart {
    margin-right: 9px;
}

.navigation-list-footer {
    width: 335px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.navigation-link-footer {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.maker-link, .maker-text {
    font-size: 12px;
    line-height: 16px;
}

.maker-link {
    text-decoration: underline;
}

.navigation-list-footer {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* catalog.html */

.navigation-link-current {
    background-color: #FF4A78;
    color: #FCFCFC;
}

.page-inner {
    margin-top: 32px;
    margin-bottom: 81px;
}

.inner-header {
    margin-bottom: 16px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-item {
    margin-right: 28px;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
}

.page-inner-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900; 
    padding: 0;
    margin: 0 0 40px 0;
}

.catalog-products {
    display: flex;
    flex-direction: column;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    width: 810px;
    justify-content: space-between;
    margin-bottom: 99px;
}

.filter-fieldset {
    width: 196px;
    margin: 0 0 16px 0;
    box-sizing: border-box;
}

.filter-fieldset-fat {
    width: 367px;
}

.filter-fieldset-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.filter-fieldset-fillers {
    width: 596px;
    margin-bottom: 0;
}

.filter-form {
    font-size: 14px;
    line-height: 20px;
}

.filter-fieldset-wrapper {
    background-color: rgba(252, 252, 252, 0.3);
}

.button-form-submit {
    font-weight: 700;  
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    text-align: center;  
    padding: 8px 53.5px;
    border-radius: 20px;
}

.product-list-catalog {
    margin-bottom: 57px;
}

.pagination-wrapper {
    display: flex;
    justify-content: end;
}

.pagination-show-more-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.pagination-catalog-wrapper {
    width: 25%;
    display: flex;
    align-items: center;
}


.pagination-show-more {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #FCFCFC;
    border: 4px solid rgba(45, 52, 64, 0.1);
    margin: 0 auto;
}

.pagination-catalog {
    display: flex;
    width: 190px;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.pagination-link {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 20px;   
    text-align: center;  
    text-decoration: none; 
    color: #2D3440; 
}

.pagination-link-current {
    background-color: #FCFCFC;
}

.footer-container-inner {
    border-top: 1px solid rgba(252, 252, 252, 0.3);
}