@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    color: #2D3440;
}

.visually-hidden {
    display: none;
}

.header-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}


.container {
    display: flex;
    width: 1170px;
    flex-direction: column;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.header-phone {
    font-weight: 700;
    margin-left: auto;
    margin-right: 18px;
}

.navigation-user {
    max-width: 253px;
}

.main-page {
    flex-grow: 1;
    flex-direction: column;
}

.main-goods {
    display: flex;
}

.main-goods-order {
    width: 540px; 
}

.main-goods-title {
    width: 470px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
}

.main-goods-description {
    width: 414px;
    font-size: 18px;
    line-height: 24px; 
}


.main-goods-item {
    display: none;
    margin-left: 70px;
    margin-right: 10px;
}

.main-goods-current {
    display: block;
}

.button-order {
    width: 75px;
}

.main-goods-gallery {
    width: 630px;
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    margin-left: 21px;
}

.gallery-item {
    width: 100px;
}

.gallery-item-current {
    width: 312px;
    margin-right: 56px;
}

.gallery-item:last-child {
    margin-left: 41px;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 104px; 
}

.social-main {
    margin-left: auto;
}

.text {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900; 
    text-align: center;   
}


.promo-text {
    width: 527px;
    margin: 0 auto;
}



.promo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.promo-item {
    box-sizing: border-box;
    width: 570px; 
    padding: 40px 210px 40px 40px;
}

.promo-item-raspberry {
    background-color: #FF7799;
    background-image: url("../img/promo-raspberry.jpg");
    background-repeat: no-repeat;
}

.promo-item-marshmallow {
    background-color: #FF7799;
    background-image: url("../img/promo-marshmallow.jpg");
    background-repeat: no-repeat;
    padding-right: 230px;
}

.promo-item-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700; 
}

.promo-item-text {
    margin-top: 0;
    margin-bottom: 32px;
}

.button-promo {
    width: 112px;
}


.popular-text {
    width: 527px;   
    margin: 0 auto;
}

.popular-list {
    width: 1170px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.popular-item {
    width: 270px;
}

.popular-item-image {
    display: block;
    margin: 0 auto;
}

.popular-item-description-wrapper {
    background-color: #FCFCFC;
}

.popular-item-description {
    width: 190px;
    margin: 0 auto;
    text-align: center;
}

.popular-item-wrapper {
    display: flex;
    width: 190px;
    margin: 0 auto;
}

.popular-item-price {
    width: 150px;                
    padding: 0;
    margin: 0;                 
    font-size: 20px;
    line-height: 24px;
    font-weight: 700; 
}

.popular-item-buy {
    display: block;
    width: 32px; 
}

.about-shop {
    background-color: #FCFCFC;
    background-image: url("../img/about-shop-background.jpg");
    background-repeat: no-repeat;
    padding: 80px 64px;
}

.about-shop-key-text {
    width: 995px;
    margin: 0 auto 56px auto;
}

.about-shop-list {
    width: 1042px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;      
}

.about-shop-item {
    display: flex;
    width: 506px;
}

.about-shop-pic {
    margin-right: 16px;
}

.about-shop-description {
    width: 442px;
}

.blog-subscribe-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.blog {
    background-color: #FCFCFC;
    background-image: url("../img/blog-background.jpg");
    background-repeat: no-repeat;
    width: 570px;
    padding: 32px 235px 62px 32px;
    box-sizing: border-box;
}

.blog-category {
    margin-top: 0;
    margin-bottom: 12px;
    color: #565C66;
}

.blog-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700; 
}

.subscribe {
    background-color: #FCFCFC;
    background-image: url("../img/subscribe-background.png");
    background-repeat: no-repeat;
    width: 570px;
    padding: 32px;
    box-sizing: border-box;
}

.subscribe-description {
    margin-top: 0;
    margin-bottom: 42px;
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
}

.delivery {
    display: flex;
    background-color: #FCFCFC;
    background-image: url("../img/delivery-background.jpg");
    width: 100%;
    padding: 104px 104px 106px 100px;
    box-sizing: border-box;

}

.delivery-description {
    width: 371px;
    margin-right: 175px;
    margin-top: 63px;
}

.description-order {
    width: 380px;
}

.delivery-title {
    margin: 0;
    padding: 0;
}


.delivery-order {
    width: 420px;  
}


.contacts-wrapper {
    padding: 104px 816px 104px 104px;
}


.link {
    line-height: 20px;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

.login-link, .cart-link {
    font-size: 14px;
}

.button {
    background-color: #FCFCFC;
    text-align: center;
    padding: 12px 32px;
}

.button-link {
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
}

.popular-item-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center; 
}

.description {
    color: #565C66;
}

.delivery-title {
    text-align: left;
}

.label-delivery {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;     
}

.text-input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
}

.button-red {
    background-color: #FF2F64;
    color: #FCFCFC;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}

.contacts {
    background-color: #FCFCFC;
    background-image: url("../img/contacts-background.jpg");
    background-repeat: no-repeat;
}

.contacts-note {
    font-size: 14px;
    line-height: 20px;
    color: #565C66;   
}

.contacts-item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #2D3440;
}

.footer-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.social-footer {
    margin-right: 300px;
}

.navigation-link-footer {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.maker-link, .maker-text {
    font-size: 12px;
    line-height: 16px;
}

.maker-link {
    text-decoration: underline;
}

.navigation-list-footer {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* catalog.html */

.navigation-link-current {
    background-color: #FF4A78;
    color: #FCFCFC;
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
}

.page-inner-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900; 
}

.filter-form {
    font-size: 14px;
    line-height: 20px;
}

.filter-fieldset-wrapper {
    background-color: rgba(252, 252, 252, 0.3);
}

.button-form-apply {
    font-weight: 700;  
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    text-align: center;  
}

.product-card {
    background-color: #FCFCFC;
}

.product-card-link {
    color: #2D3440;
    text-decoration: none;
}

.product-card-title, .product-card-price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #2D3440;
    text-align: center;
}

.product-card-price {
    text-align: left;
}

.product-card-text {
    color: #565C66;
    text-align: center;
}

.pagination-show-more {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #FCFCFC;
    border: 4px solid rgba(45, 52, 64, 0.1); 
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;   
    text-align: center;  
    text-decoration: none; 
    color: #2D3440; 
}

.pagination-link-current {
    background-color: #FCFCFC;
}